
{% comment %} <form
  action="https://formspree.io/mpzyzknl"
  method="POST"
>
  <label>
    Your email:
    <input type="text" name="_replyto">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>

  <!-- your other form fields go here -->

  <button type="submit">Send</button>
</form> {% endcomment %}
<div class="klaviyo-form-LMMvcv"></div>


{% comment %} {% include 'klaviyo-form-switcher' %} {% endcomment %}
{% comment %} $( document ).ready(function(){
      var buttons = undefined;
      do {
      var buttons = $( "button[class*='ResetElements__Button']" );
      if ( buttons != undefined ){
        $( "button[class*='ResetElements__Button']" ).click(function(){
          $('.contact-page-text').hide();
        })
      } else {
        console.log('searching')
      }
      }
      while ( buttons = undefined )
    }) {% endcomment %}