<div class="image-wall row product--container">
  {% if product.images[3] %}
  <div class="col-12 order-1 image-wrap full-width-image-wrap"
    {%
      include 'rimg',
      img: product.images[3],
      size: 'x1200',
      lazy: true,
      background: true
    %}
    >
  </div>
  {% endif %}
  {% if product.images[1] %}
  <div class="col-md-4 order-3 order-md-2 image-wrap third-width-image-wrap"{%
    include 'rimg',
    img:  product.images[1],
    size: 'x600',
    lazy: true,
    background: true
  %}>
  </div>
  {% endif %}
  {% if product.images[2] %}
  <div class="col-md-4 order-4 order-md-3 image-wrap third-width-image-wrap"
    {%
      include 'rimg',
      img:  product.images[2],
      size: 'x600',
      lazy: true,
      background: true
    %}>
  </div>
  {% endif %}
  {% if product.images[1] %}
  <div class="col-md-4 order-2 order-md-4 image-wrap third-width-image-wrap d-flex align-items-center justify-content-center">
    <div class="text-box ">
      <h4>Our Vision: Human Connection</h4>
      <p>Our vision is to create meaningful human connections in a time of increasing separation caused by technology.</p>
      <p>We are building an ecosystem of collaboration tools that empower communication, discovery, and innovation.</p>
    </div>
  </div>
  {% endif %}
</div>
