{% comment %} svg curve with shadow filter {% endcomment %}
{% comment %} <section class="curve-container" style="background-color: {{ bg_color }}; height: 50px;">

<?xml version="1.0" encoding="UTF-8"?>
<svg id="curve" width="1521px" height="50px" viewBox="0 0 1521 55" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill-rule="evenodd">
        <path fill="{{ bg_color }}" d="M0.000708475118,2.82182727 C836.357661,86.805322 776.438322,-52.3373189 1521,25 C1521,25 1521,34.7262135 1521,54.1786406 L-0.00257688805,54.1786406 C-0.00038664594,19.940765 0.000708475117,2.82182727 0.000708475118,2.82182727 Z" id="Path" fill="#D8D8D8" transform="translate(663.000000, 28.500000) scale(-1, 1) translate(-663.000000, -28.500000) "></path>
    </g>
</svg></section> {% endcomment %}
