{% assign bg_color = section.settings.bg_color %}
{% include 'svg-curve' %}
<div style="background-color: {{ bg_color }}" class="quick-about container section-pad {% if section.settings.curve == 'top' %} has-top-curve{% elsif section.settings.curve == 'bottom' %} has-bottom-curve{% endif %}">
  <div class="row d-flex align-items-start ">
    {% for block in section.blocks %}
    <div class="col-md-4 about-image-wrap quick has-bar" style='padding: 1em 2em;'>
      <img class="logo-small" src="{{ block.settings.image | img_url: '180x' }}"/>
      <h4>{{block.settings.header}}</h4>
      <p>{{block.settings.body}}</p>
    </div>
  {% endfor %}
    </div>
</div>

{% schema %}
  {
    "name": {
      "en": "Collection Quick About"
    },
    "class": "index-section",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": {
          "en": "Background"
        }
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "type": "quote",
        "name": "Static block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Logo Image"
          },
          {
            "type": "text",
            "id": "header",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "body",
            "label": "Main Copy"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "en": "Collection Quick About"
        },
        "category": {
          "en": "Custom"
        }
      }
    ]
  }
{% endschema %}
