{% assign bg_color = section.settings.bg_color %}
{% include 'svg-curve' %}
<div style="background-color: {{ bg_color }}" class="container {% if section.settings.curve == 'top' %} has-top-curve{% elsif section.settings.curve == 'bottom' %} has-bottom-curve{% endif %}">
  <div class="row d-flex align-items-center ">
    {% for block in section.blocks %}
    <div class="col-4 about-image-wrap text-left has-bar" style='padding: 1em;'>
      <img class="logo-small" style=" max-height: 20px;" src="{{ block.settings.image | img_url: '50x' }}"/>
      <h4>{{block.settings.header}}</h4>
      {{block.settings.body}}
    </div>
  {% endfor %}
    </div>
</div>

{% schema %}
  {
    "name": {
      "en": "Collection Quick About"
    },
    "class": "index-section",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": {
          "en": "Background"
        }
      },
      {
        "id": "curve",
        "type": "select",
        "label": "Does top or bottom need svg spacing?",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          },
          {
            "value": "none",
            "label": "None"
          }
        ],
        "default": "none"
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "type": "quote",
        "name": "Static block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Logo Image"
          },
          {
            "type": "text",
            "id": "header",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "body",
            "label": "Main Copy"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "en": "Collection Quick About"
        },
        "category": {
          "en": "Custom"
        }
      }
    ]
  }
{% endschema %}
