<div class="collection--information">
<h3>Whiteboard Solutions</h3>
  <h1 class="collection--title">
    {{ collection.title }}
  </h1>
</div>
{% schema %}
  {
    "name": "Collection pages",
    "class": "section"
  }
{% endschema %}