{% assign product_limit = 5 %}
<script
  type="application/json"
  data-section-type="static-collection"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "context": {
      "see_more": {{ 'general.general.see_more' | t | json }},
      "see_less": {{ 'general.general.see_less' | t | json }},
      "collectionUrl": {{ collection.url | default: '/collections/all' | json }}
    }
  }
</script>
  <section
    class="product-section--container product-row--container productgrid--outer layout--no-sidebar productgrid-gridview"
    data-html
  >
  <div class="productgrid--wrapper">
      <ul
        class="productgrid--items five-up"
      >
      {% for meta in product.metafields["global"]  limit: product_limit %}
      {% assign key = 'recommend_' | append: forloop.index %}
      {% assign handle = product.metafields["global"][key] %}
      {% assign newproduct = all_products[handle] %}
          {%
            include 'product-grid-item',
            product: newproduct
          %}
      {% endfor %}
      </ul>
    </div>
  </section>

  {% include 'quick-shop' %}
{% schema %}
{
  "name": "META recommendations",
  "class": "product-recommendations--section has-graphic",
  "settings": [
    {
      "type": "text",
      "id": "product_recommendations_heading",
      "label": "Heading",
      "default": "You may also like"
    }
  ]
}
{% endschema %}
