
  {% if section.blocks.size > 0 %}

  {% assign product_limit = 5 %}

  {% comment %} <script
    type="application/json"
    data-section-type="static-product-recommendations"
    data-section-id="{{ section.id }}"
    data-section-data
  >
    {
      "settings": {
        "limit": {{ product_limit }}
      },
      "productId": {{ product.id | json }}
    }
  </script> {% endcomment %}

  <section
    class="product-section--container product-row--container product-recommendations--container "
  >

      <ul
        class="product-section--content product-row"
      >
        {%- for block in section.blocks limit: product_limit -%}
        {% assign product = all_products[block.settings.product] %}
          {%
            include 'product-grid-item',
            product: product
          %}
        {% endfor %}
      </ul>
  </section>

  {% include 'quick-shop' %}
{% endif %}
{% schema %}
{
  "name": "custom recommendations",
  "class": "product-recommendations--section has-graphic",
  "settings": [
    {
      "type": "text",
      "id": "product_recommendations_heading",
      "label": "Heading",
      "default": "You may also like"
    }
  ],
    "blocks": [
      {
        "type": "product",
        "name": "product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ]
}
{% endschema %}
