
  {% if section.blocks.size > 0 %}
  <div class="product-recommendations__inner">
    <ul class="grid grid--uniform grid--view-items">
      {%- for block in section.blocks -%}
      {% assign product = all_products[block.settings.product] %}
        <li class="grid__item small--one-half medium-up--one-quarter">
          {% include 'product-card-grid', max_height: 250 %}
        </li>
      {%- endfor -%}
    </ul>
  </div>
  {% endif %}
{% schema %}
{
  "name": "custom recommendations",
  "settings": [
  ],
    "blocks": [
      {
        "type": "product",
        "name": "product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ]
}
{% endschema %}
