{%- assign collection = collections[section.settings.collection] -%}
{%- if collection != blank -%}
  {% if collection.products_count != 0 %}
    <hr>
    <h3 class="h4">{{ 'layout.sidebar.featured_products' | t }}</h3>
    <div class="grid grid--no-gutters grid--uniform">
      {% for product in collection.products limit: 4 %}
        <div class="grid__item medium-up--one-quarter small--one-half">
          {% include 'product-card', product: product %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{%- endif -%}

{% schema %}
  {
    "name": {
      "pt-BR": "Produtos em destaque",
      "it": "Prodotti in primo piano",
      "en": "Featured products",
      "es": "Productos destacados",
      "de": "Vorgestelltes Produkt",
      "ja": "おすすめ商品",
      "fr": "Produits en vedette"
    },
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": {
          "pt-BR": "Coleção",
          "it": "Collezione",
          "en": "Collection",
          "es": "Colección",
          "de": "Kategorie",
          "ja": "コレクション",
          "fr": "Collection"
        }
      }
    ]
  }
{% endschema %}
