<div class="page-width  section-block--padding has-both-curve">
<div class="section-block">
  <div class="row">
  <div class="col-4"></div>
  <div class="col-8">
  <div class="row">
  <div class="col-6 text-center">
    <h1 class="section--title text-green text-center">{{ section.settings.header }}</h1>
    <p class="text-center">{{ section.settings.subheader }}</p>
    <div class="trees-counter"></div>
    {{ section.settings.content }}
    </div>
    </div>
    </div>
  </div>
  </div>
</div>

{% schema %}
  {
    "name": "For the Trees",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Title",
        "default": "For the Trees"
      },
      {
        "type": "text",
        "id": "subheader",
        "label": "Subtitle",
        "default": "We plant a tree for every pack of Stickies we sell."
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>Our products help companies meet environmental goals by providing a product that can be used over and over again. That means mcSquares products save the trees while saving you money.</p>"
      }
    ],
    "presets": [
      {
        "name": {
          "en": "For The Trees"
        },
        "category": {
          "en": "Custom"
        }
      }
    ]
  }
{% endschema %}
