{% if section.settings.layout == 'grid' %}
  {% if section.settings.display_type == 'all' %}
    {%- assign collection_count = 0 -%}
    {% for collection in collections %}
      {% unless collection.handle == 'frontpage' %}
        {%- assign collection_count = collection_count | plus: 1 -%}
      {% endunless %}
    {% endfor %}
  {% else %}
    {%- assign collection_count = section.blocks.size -%}
  {% endif %}

  {% assign number_rows = 1 %}

  {% case collection_count %}
    {% when 1 %}
      {% assign grid_item_width = 'medium-up--one-half' %}
      {% assign height = 450 %}
    {% when 2 %}
      {% assign grid_item_width = 'medium-up--one-half' %}
      {% assign height = 450 %}
    {% when 3 %}
      {% assign grid_item_width = 'medium-up--one-third' %}
      {% assign height = 330 %}
    {% when 4 %}
      {% assign grid_item_width = 'medium-up--one-quarter' %}
      {% assign height = 235 %}
    {% else %}
      {% assign grid_item_width = 'medium-up--one-third' %}
      {% assign height = 330 %}
      {% assign number_rows = collection_count | divided_by: 3.0 | ceil %}
  {% endcase %}
{% endif %}

<div class="page-width" data-section-id="{{ section.id }}" data-section-type="collections-list">
  {% if section.settings.display_type == 'all' %}
    {% case section.settings.sort %}
      {% when 'products_high' or 'products_low' %}
        {%- assign list_collections = collections | sort: 'all_products_count' -%}
      {% when 'date' or 'date_reversed' %}
        {%- assign list_collections = collections | sort: 'published_at' -%}
      {% else %}
        {%- assign list_collections = collections -%}
    {% endcase %}
    {% if section.settings.sort == 'products_low' or section.settings.sort == 'date' or section.settings.sort == 'alphabetical' %}
      <div class="grid grid--no-gutters grid--uniform collection" data-number-rows="{{ number_rows }}">
        {% assign row_number = 1 %}
        {% for collection in list_collections %}
          {%- assign featured_collection = collection -%}
          {% unless collection.handle == 'frontpage' %}
            {% if section.settings.layout == 'list' %}
              {% include 'collection-list-item' %}
            {% else %}
              {% if collection_count > 4 and forloop.index > 3 %}
                {% assign row_number = forloop.index | divided_by: 3.0 | ceil %}
              {% endif %}
              {% include 'collection-grid-item' with stretch_collection_image: false, height: height %}
            {% endif %}
          {% endunless %}
        {% endfor %}
      </div>
    {% else %}
      <div class="grid grid--no-gutters grid--uniform collection" data-number-rows="{{ number_rows }}">
        {% assign row_number = 1 %}
        {% for collection in list_collections reversed %}
          {%- assign featured_collection = collection -%}
          {% unless collection.handle == 'frontpage' %}
            {% if section.settings.layout == 'list' %}
              {% include 'collection-list-item' %}
            {% else %}
              {% if collection_count > 4 and forloop.index > 3 %}
                {% assign row_number = forloop.index | divided_by: 3.0 | ceil %}
              {% endif %}
              {% include 'collection-grid-item' with stretch_collection_image: false, height: height %}
            {% endif %}
          {% endunless %}
        {% endfor %}
      </div>
    {% endif %}
  {% else %}
    <div class="grid grid--no-gutters grid--uniform collection" data-number-rows="{{ number_rows }}">
      {% assign row_number = 1 %}
      {% for block in section.blocks %}
        {%- assign featured_collection = collections[block.settings.collection] -%}
        {% if section.settings.layout == 'list' %}
          {% include 'collection-list-item' %}
        {% else %}
          {% if collection_count > 4 and forloop.index > 3 %}
            {% assign row_number = forloop.index | divided_by: 3.0 | ceil %}
          {% endif %}
          {% include 'collection-grid-item' with stretch_collection_image: false, height: height %}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": {
      "pt-BR": "Lista de coleções",
      "it": "Elenco collezioni",
      "en": "Collections list page",
      "es": "Lista de colecciones",
      "de": "Kategorien-Liste Seite",
      "ja": "コレクションリストのページ",
      "fr": "Liste des collections"
    },
    "settings": [
      {
        "type": "paragraph",
        "content": {
          "pt-BR": "Todas as suas coleções são listadas por padrão. Para personalizar sua lista, escolha \"Selecionado\" e adicione coleções.",
          "it": "Tutte le collezioni vengono elencate per impostazione predefinita. Per personalizzare il tuo elenco, scegli \"Selezionato\" e aggiungi delle collezioni.",
          "en": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collections.",
          "es": "Todas tus colecciones se muestran por defecto. Para personalizar tu lista, elige 'Seleccionadas' y agrega colecciones.",
          "de": "Alle kategorien sind automatisch gelistet. Zum Ändern der Liste wählen Sie 'Ausgewählt' und fügen Sie Kategorien hinzu.",
          "ja": "すべてのコレクションがデフォルトで一覧表示されます。一覧をカスタマイズするには、「選択済み」を選択してコレクションを追加します。",
          "fr": "Toutes vos collections sont listées par défaut. Pour personnaliser votre liste, cliquez sur « Sélection » et ajoutez des collections."
        }
      },
      {
        "type": "radio",
        "id": "display_type",
        "label": {
          "pt-BR": "Selecione coleções para exibir",
          "it": "Seleziona le collezioni da mostrare",
          "en": "Select collections to show",
          "es": "Selecciona colecciones para mostrar",
          "de": "Collections auswählen, die angezeigt werden sollen",
          "ja": "表示するコレクションを選択する",
          "fr": "Sélectionner les collections à afficher"
        },
        "default": "all",
        "options": [
          {
            "value": "all",
            "label": {
              "pt-BR": "Todos",
              "it": "Tutti",
              "en": "All",
              "es": "Todas",
              "de": "Alle",
              "ja": "すべて",
              "fr": "Toutes"
            }
          },
          {
            "value": "selected",
            "label": {
              "pt-BR": "Selecionado",
              "it": "Selezionato",
              "en": "Selected",
              "es": "Seleccionadas",
              "de": "Ausgewählt",
              "ja": "選択済み",
              "fr": "Sélection"
            }
          }
        ]
      },
      {
        "type": "select",
        "id": "layout",
        "label": {
          "pt-BR": "Selecione o layout",
          "it": "Seleziona layout",
          "en": "Select layout",
          "es": "Seleccionar diseño",
          "de": "Layout auswählen",
          "ja": "レイアウトを選択する",
          "fr": "Sélectionner la mise en page"
        },
        "default": "grid",
        "options": [
          {
            "value": "grid",
            "label": {
              "pt-BR": "Grade",
              "it": "Griglia",
              "en": "Grid",
              "es": "Cuadrícula",
              "de": "Raster",
              "ja": "グリッド",
              "fr": "Grille"
            }
          },
          {
            "value": "list",
            "label": {
              "pt-BR": "Lista",
              "it": "Elenco",
              "en": "List",
              "es": "Lista",
              "de": "Liste",
              "ja": "リスト",
              "fr": "Liste"
            }
          }
        ]
      },
      {
        "type": "select",
        "id": "sort",
        "label": {
          "pt-BR": "Ordenar coleções por:",
          "it": "Ordina le collezioni per:",
          "en": "Sort collections by:",
          "es": "Ordenar colecciones por:",
          "de": "Kategorien sortieren nach:",
          "ja": "コレクションの並べ替え方法:",
          "fr": "Trier les collections par :"
        },
        "info": {
          "pt-BR": "A classificação só se aplica quando \"Tudo\" está selecionado",
          "it": "L'ordinamento viene applicato solo quanto è selezionato \"Tutto\"",
          "en": "Sorting only applies when 'All' is selected",
          "es": "La función ordenar solo se aplica cuando se selecciona \"Todas\"",
          "de": "Sortieren funktioniert nur, wenn 'Alle' ausgewählt ist",
          "ja": "「すべて」が選択されている場合にのみ並べ替えを適用する",
          "fr": "Le tri ne s'applique que lorsque « Toutes » est sélectionné"
        },
        "default": "alphabetical",
        "options": [
          {
            "value": "products_high",
            "label": {
              "pt-BR": "Contagem de produtos, alta para baixa",
              "it": "Conteggio decrescente prodotti",
              "en": "Product count, high to low",
              "es": "Recuento de productos, de mayor a menor",
              "de": "Produktanzahl, hoch zu niedrig",
              "ja": "商品数の多い順",
              "fr": "Nombre de produits, par ordre décroissant"
            }
          },
          {
            "value": "products_low",
            "label": {
              "pt-BR": "Contagem de produtos, baixa para alta",
              "it": "Conteggio crescente prodotti",
              "en": "Product count, low to high",
              "es": "Recuento de productos, de menor a mayor",
              "de": "Produktanzahl, niedrig zu hoch",
              "ja": "商品数の少ない順",
              "fr": "Nombre de produits, par ordre croissant"
            }
          },
          {
            "value": "alphabetical",
            "label": {
              "pt-BR": "Ordem alfabética, A–Z",
              "it": "In ordine alfabetico, A - Z",
              "en": "Alphabetically, A-Z",
              "es": "Alfabéticamente, A-Z",
              "de": "Alphabetisch, A-Z",
              "ja": "アルファベット順, A-Z",
              "fr": "Alphabétique, de A à Z"
            }
          },
          {
            "value": "alphabetical_reversed",
            "label": {
              "pt-BR": "Ordem alfabética, Z–A",
              "it": "In ordine alfabetico, Z - A",
              "en": "Alphabetically, Z-A",
              "es": "Alfabéticamente, Z-A",
              "de": "Alphabetisch, Z-A",
              "ja": "アルファベット順, Z-A",
              "fr": "Alphabétique, de Z à A"
            }
          },
          {
            "value": "date",
            "label": {
              "pt-BR": "Data, mais antiga primeiro",
              "it": "Data, dal più vecchio al più recente",
              "en": "Date, old to new",
              "es": "Fecha: antiguo(a) a reciente",
              "de": "Datum: alt bis neu",
              "ja": "古い商品順",
              "fr": "Date, de la plus ancienne à la plus récente"
            }
          },
          {
            "value": "date_reversed",
            "label": {
              "pt-BR": "Data, mais recente primeiro",
              "it": "Data, dal più recente al più vecchio",
              "en": "Date, new to old",
              "es": "Fecha: reciente a antiguo(a)",
              "de": "Datum: neu bis alt",
              "ja": "新着順",
              "fr": "Date, de la plus récente à la plus ancienne"
            }
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": {
          "pt-BR": "Coleção",
          "it": "Collezione",
          "en": "Collection",
          "es": "Colección",
          "de": "Kategorie",
          "ja": "コレクション",
          "fr": "Collection"
        },
        "settings": [
          {
            "label": {
              "pt-BR": "Coleção",
              "it": "Collezione",
              "en": "Collection",
              "es": "Colección",
              "de": "Kategorie",
              "ja": "コレクション",
              "fr": "Collection"
            },
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
