{% comment %}
Share homepage URL
Shared text is from the store meta description
{% endcomment %}
{% if section.settings.show_share_buttons %}
	<div class="password-social-sharing">
		<p class="h6">{{ section.settings.social_message | escape }}</p>
		{% include 'social-sharing', center_icons: true, share_title: shop.password_message %}
	</div>
{% endif %}

<footer class="password-footer" role="contentinfo">
	{% capture shopify %}
	<a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
		{% include 'icon-shopify-logo' %}
		<span class="visually-hidden">Shopify</span>
	</a>
	{% endcapture %}
	{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
</footer>

{% schema %}
  {
    "name": {
      "pt-BR": "Rodapé",
      "it": "Footer",
      "en": "Footer",
      "es": "Pie de página",
      "de": "Fußzeile",
      "ja": "フッター",
      "fr": "Pied de page"
    },
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": {
          "pt-BR": "Exibir botões de compartilhamento em redes sociais",
          "it": "Mostra i pulsanti per la condivisione sui social",
          "en": "Show social sharing buttons",
          "es": "Mostrar botones para compartir en redes sociales",
          "de": "Buttons für Social Media anzeigen",
          "ja": "ソーシャル共有ボタンを表示する",
          "fr": "Affichez les boutons de partage sur les médias sociaux"
        },
        "default": true
      },
      {
        "type": "text",
        "id": "social_message",
        "label": {
          "pt-BR": "Título dos botões de compartilhamento social",
          "it": "Titolo dei pulsanti per la condivisione sui social",
          "en": "Social sharing buttons heading",
          "es": "Título de botones para compartir en redes sociales",
          "de": "Titel für Social Media Buttons",
          "ja": "ソーシャル共有ボタンの見出し",
          "fr": "Titre des options de partage"
        },
        "default": {
          "pt-BR": "Divulgue a novidade",
          "it": "Spargi la voce",
          "en": "Spread the word",
          "es": "Riega la voz",
          "de": "Machen Sie Werbung",
          "ja": "言葉を広める",
          "fr": "Faites passer le mot"
        }
      }
    ]
  }
{% endschema %}
