{% if linklists[section.settings.link_list].links.size > 0 %}
  <div class="site-footer__section sh-col-sm-4">
    {% comment %} <h4 class="h1 site-footer__section-title">{{ linklists[section.settings.link_list].title }}</h4> {% endcomment %}
    <ul class="site-footer__list">
      {% for link in linklists[section.settings.link_list].links %}
        <li class="site-footer__list-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endif %}



{% schema %}
{
  "name": "Press Room List",
  "settings": [
    {
      "type": "link_list",
      "id": "link_list",
      "label": "Nav for Press Room"
    }
  ]
}
{% endschema %}