<div class="page-width">
  <div class="section-block section-block--padding grid grid--no-gutters">
    <div class="grid__item{% unless section.settings.home_page_full_width %} medium-up--two-thirds medium-up--push-one-sixth{% endunless %}">
      {% if section.settings.section_title != blank %}
        <h2 class="rich-text__heading--{{ section.settings.text_size }} text-center">{{ section.settings.section_title | escape }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rte text-center rich-text__text--{{ section.settings.text_size }}">
          {{ section.settings.text }}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": {
      "pt-BR": "Rich text",
      "it": "Rich text",
      "en": "Rich text",
      "es": "Texto enriquecido",
      "de": "Rich text",
      "ja": "リッチテキスト",
      "fr": "Texte enrichi"
    },
    "class": "index-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "home_page_full_width",
        "label": {
          "pt-BR": "Exibição ampla",
          "it": "Visualizzazione ampia",
          "en": "Wide display",
          "es": "Pantalla ancha",
          "de": "Breitbild-Display",
          "ja": "ワイドディスプレイ",
          "fr": "Affichage large"
        }
      },
      {
        "type": "text",
        "id": "section_title",
        "label": {
          "pt-BR": "Título",
          "it": "Heading",
          "en": "Heading",
          "es": "Título",
          "de": "Titel",
          "ja": "見出し",
          "fr": "Titre"
        },
        "default": {
          "pt-BR": "Fale sobre a sua marca",
          "it": "Parla del tuo brand",
          "en": "Talk about your brand",
          "es": "Habla de tu marca",
          "de": "Reden Sie über Ihre Marke",
          "ja": "あなたのブランドについて語る",
          "fr": "Parlez de votre marque"
        }
      },
      {
        "type": "richtext",
        "id": "text",
        "label": {
          "pt-BR": "Texto",
          "it": "Testo",
          "en": "Text",
          "es": "Texto",
          "de": "Text",
          "ja": "テキスト",
          "fr": "Texte"
        },
        "default": {
          "pt-BR": "<p>Use este texto para compartilhar informações sobre sua marca com seus clientes. Descreva um produto, compartilhe anúncios ou receba os clientes em sua loja.</p>",
          "it": "<p>Utilizza questo testo per condividere le informazioni sul tuo brand con i tuoi clienti. Descrivi un prodotto, condividi gli annunci o dai il benvenuto ai clienti nel tuo negozio.</p>",
          "en": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>",
          "es": "<p>Usa este texto para compartir información sobre tu marca con tus clientes. Describe un producto, comparte anuncios o recibe clientes en tu tienda.</p>",
          "de": "<p>Nutzen Sie diesen Text, um Infos über Ihre Marke mitzuteilen. Beschreiben Sie ein Produkt, kündigen Sie etwas an oder heißen Sie Kunden willkommen.</p>",
          "ja": "<p>このテキストを使用して、あなたのブランドに関する情報をお客様と共有します。商品を説明したり、告知の共有をしたり、あるいはあなたのストアのお客様を歓迎します。</p>",
          "fr": "<p>Utilisez ce texte pour partager des informations sur votre marque. Décrivez un produit, partagez des annonces, ou souhaitez la bienvenue à vos clients.</p>"
        }
      },
      {
        "type": "select",
        "id": "text_size",
        "label": {
          "pt-BR": "Tamanho",
          "it": "Misura",
          "en": "Size",
          "es": "Tamaño",
          "de": "Größe",
          "ja": "サイズ",
          "fr": "Taille"
        },
        "default": "medium",
        "options": [
          {
            "label": {
              "pt-BR": "Pequeno",
              "it": "Piccolo",
              "en": "Small",
              "es": "Pequeño",
              "de": "Klein",
              "ja": "小",
              "fr": "Petite"
            },
            "value": "small"
          },
          {
            "label": {
              "pt-BR": "Médio",
              "it": "Medio",
              "en": "Medium",
              "es": "Mediano",
              "de": "Mittel",
              "ja": "中",
              "fr": "Moyenne"
            },
            "value": "medium"
          },
          {
            "label": {
              "pt-BR": "Grande",
              "it": "Grande",
              "en": "Large",
              "es": "Grande",
              "de": "Groß",
              "ja": "大",
              "fr": "Grande"
            },
            "value": "large"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "pt-BR": "Rich text",
          "it": "Rich text",
          "en": "Rich text",
          "es": "Texto enriquecido",
          "de": "Rich text",
          "ja": "リッチテキスト",
          "fr": "Texte enrichi"
        },
        "category": {
          "pt-BR": "Texto",
          "it": "Testo",
          "en": "Text",
          "es": "Texto",
          "de": "Text",
          "ja": "テキスト",
          "fr": "Texte"
        }
      }
    ]
  }
{% endschema %}
