<!-- TODO config this page and schema -->
{% layout 'theme' %}
{% section 'offers-static-slideshow' %}
{% section 'offers-dynamic-content-1' %}
{% section 'offers-dynamic-content-2' %}
{% section 'offers-featured-links' %}
{% section 'offers-icons' %}
{% section 'offers-cta' %}
{% assign product = collection.products.first %}
{% if product.available %}
  <div class="header-add-to-cart">
    <button id="mobile-adder" class="btn btn--small hover-light" onclick="progClick()" style="margin: 6px 0 6px 10px;">Add To Cart</button>
  </div>
{% endif %}
<script type="text/javascript" async>
  var progClick = function(){
    var button = document.getElementById("AddToCart-offers-cta");
    button.click();
  }
</script>
