<!-- TODO config this page and schema -->
{% layout 'theme' %}
{% section 'offers-static-slideshow-3' %}
{% section 'offers-dynamic-content-1-b' %}
{% section 'offers-dynamic-content-2-b' %}
{% section 'offers-featured-links-3' %}
{% section 'offers-icons-3' %}
{% section 'offers-cta-3' %}
{% assign product = collection.products.first %}
{% if product.available %}
  <div class="header-add-to-cart">
    <button id="mobile-adder" class="btn btn--small hover-light" onclick="progClick()" style="margin: 6px 0 6px 10px;">Add To Cart</button>
  </div>
{% endif %}
<script type="text/javascript">
  var progClick = function(){
    var button = document.getElementById("AddToCart-offers-cta-3");
    button.click();
  }
</script>