<!-- TODO config this page and schema -->
{% layout 'theme' %}
{% comment %} {% section 'announcement-bar' %} {% endcomment %}
{% section 'offers-static-slideshow' %}
{% section 'offers-dynamic-content-1' %}
{% section 'offers-dynamic-content-2' %}
<div>missing section here</div>
{% section 'offers-icons' %}
{% section 'offers-featured-links' %}
<div>final CTA</div>
