<!-- TODO config this page and schema -->
{% layout 'theme' %}
{% comment %} {% section 'announcement-bar' %} {% endcomment %}
{% section 'about-static-slideshow' %}
<div class="container">
  {% section 'new-about-content' %}
</div>
