{% layout 'theme' %}
{% section 'colo-header-slideshow' %}
<article class="site-page" data-template-page>
  {% if page.content != blank %}
    <div class="page-content rte">
      {{ page.content }}
    </div>
  {% endif %}
</article>
{% section 'contact-cta' %}
