
{% section 'page-static-slideshow' %}
{% assign bg_color = '#fff' %}
{% include 'svg-curve' %}

<article class="site-page container contact-page-content has-bottom-curve" data-template-page data-template-contact>
{% if page.content != blank %}
  <div class="page-content rte contact-page-content contact-page-text">
    {{ page.content }}
  </div>
{% endif %}
{% include 'contact-klaviyo' %}
  <hr style="margin:2em 0;"/>
  <div class="contact-form-lower">
    <p><strong>mcSquares Corporate Headquarters </strong></p>
    <p>2150 Market St. Denver, CO 80205</p>
    <p><a href="mailto:info@mcSquares.com" target="_blank">info@mcsquares.com</a></p>
  </div>
  {% comment %} {% include 'locator' %} {% endcomment %}
</article>

{% comment %} {% section 'collection-static-quick-about' %} {% endcomment %}
