{% layout 'theme' %}
{% section 'trees-header-slideshow' %}
<article class="site-page" data-template-page>
  {% if page.content != blank %}
    <div class="page-content rte">
      {{ page.content }}
    </div>
  {% endif %}
</article>
{% section 'for-the-trees' %}
{% section 'contact-cta' %}
